{% extends 'home.html' %}

{% block title %}Make Post{% endblock %}

{% block content %}
<div class="posts flex z-10 flex-wrap justify-center gap-3 bg-zinc-700 text-gray-200 ">
    <div class="container">
        {% for post in posts %}
        <div class="w-90 bg-zinc-800 rounded flex flex-col p-3 justify-between gap-2 m-2">
            <!-- <div class="flex flex-row justify-between"> -->
            <div>
                <div class="flex flex-row justify-start gap-2 content-end">
                    <h3 class="text-2xl capitalize my-auto">{{post.title}}</h3>
                    <h3 class="text-lg capitalize my-auto text-gray-500">@{{post.user.username}}</h3>

                </div>
                <p class="mb-1">{{post.description}}</p>

                <!-- </div> -->
                <div
                    class='grid shadow-inner grid-cols-1 sm:grid-cols-2 sm:gap-4 rounded border-solid  p-3 {{(post.weather_data |json_loads).theme }}'>
                    <!-- <div class="flex flex-col"> -->
                    <!-- <div class="flex flex-row justify-around"> -->
                    <img src="https://openweathermap.org/img/wn/{{
                            (post.weather_data |json_loads).icon
                        }}@2x.png" alt="">
                    <div class="mt-3 ">
                        <div>{{(post.weather_data |json_loads).city}}, {{(post.weather_data |json_loads).state}}
                        </div>
                        <h3>{{(post.weather_data |json_loads).times.dt}}</h3>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="flex flex-row justify-around"> -->
                    <div>
                        <div>{{(post.weather_data |json_loads).weather.description}}</div>
                        <div>High: {{(post.weather_data |json_loads).temp.max}}&#8457 Low: {{(post.weather_data
                            |json_loads).temp.min}}&#8457
                        </div>
                        <div>Morning: {{(post.weather_data |json_loads).temp.morn}}&#8457 <br> Day: {{(post.weather_data
                            |json_loads).temp.day}}&#8457 <br>
                            evening: {{
                            (post.weather_data |json_loads).temp.eve
                            }}&#8457 <br> Night: {{(post.weather_data |json_loads).temp.night}}&#8457</div>
                    </div>

                    <div>
                        <div>Sunrise {{(post.weather_data |json_loads).times.sunrise}}</div>
                        <div>Sunset {{(post.weather_data |json_loads).times.sunset}}</div>
                        <div class="{{(post.weather_data |json_loads).showMoon}} ">
                            <div>Moonrise {{(post.weather_data |json_loads).times.moonrise}}</div>
                            <div>Moonset {{(post.weather_data |json_loads).times.moonset}}</div>
                            <div>Moon coverage {{(post.weather_data |json_loads).moonPhase}}%</div>
                        </div>
                        <div>Percentage of Rain {{(post.weather_data |json_loads).rain}}%</div>
                        <div>UVI {{(post.weather_data |json_loads).uvi}} <br> (highest between 11am - 2pm)</div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}