{% extends 'activities/user.html' %}

{% block title %}Make Post{% endblock %}

{% block content2 %}

<form action="/make-post/post" method="Post">

    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field }}


        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <div class=' {{
        day.theme
      }}'><img src="https://openweathermap.org/img/wn/{{
      day.icon
    }}@2x.png" alt="">
        <h3>{{day.times.dt}}</h3>
        <div>{{day.weather.description}}</div>
        <div>High: {{day.temp.max}} Low: {{day.temp.min}}</div>
        <div>Morning: {{day.temp.morn}} Day: {{day.temp.day}} Evening: {{
            day.temp.eve
            }} Night: {{day.temp.night}}</div>
        <div>Sunrise {{day.times.sunrise}}</div>
        <div>Sunset {{day.times.sunset}}</div>
        <div class="{{day.showMoon}} ">
            <div>Moonrise {{day.times.moonrise}}</div>
            <div>Moonset {{day.times.moonset}}</div>
            <div>Moon coverage {{day.moonPhase}}%</div>
        </div>
        <div>Percentage of Rain {{day.rain}}%</div>
        <div>UVI {{day.uvi}} (highest between 11am - 2pm)</div>
    </div>
    <button type="submit">Make post</button>
</form>





{% endblock %}