{% extends 'activities/user.html' %}

{% block title %}Make Post{% endblock %}

{% block content2 %}
<div class="posts">
    {% for post in posts %}
    <h3>{{post.title}}</h3>
    <p>{{post.description}}</p>
    <div class=' {{
    (post.weather_data |json_loads).theme
  }}'><img src="https://openweathermap.org/img/wn/{{
  (post.weather_data |json_loads).icon
}}@2x.png" alt="">
        <h3>{{(post.weather_data |json_loads).times.dt}}</h3>
        <div>{{(post.weather_data |json_loads).weather.description}}</div>
        <div>High: {{(post.weather_data |json_loads).temp.max}} Low: {{(post.weather_data |json_loads).temp.min}}</div>
        <div>Morning: {{(post.weather_data |json_loads).temp.morn}} Day: {{(post.weather_data |json_loads).temp.day}}
            evening: {{
            (post.weather_data |json_loads).temp.eve
            }} Night: {{(post.weather_data |json_loads).temp.night}}</div>
        <div>Sunrise {{(post.weather_data |json_loads).times.sunrise}}</div>
        <div>Sunset {{(post.weather_data |json_loads).times.sunset}}</div>
        <div class="{{(post.weather_data |json_loads).showMoon}} ">
            <div>Moonrise {{(post.weather_data |json_loads).times.moonrise}}</div>
            <div>Moonset {{(post.weather_data |json_loads).times.moonset}}</div>
            <div>Moon coverage {{(post.weather_data |json_loads).moonPhase}}%</div>
        </div>
        <div>Percentage of Rain {{(post.weather_data |json_loads).rain}}%</div>
        <div>UVI {{(post.weather_data |json_loads).uvi}} (highest between 11am - 2pm)</div>
    </div>
    <form action="/edit-post/{{post.id}}">
        <button class="edit-post" value="{{post.id}}">Edit</button>
    </form>
    <form action="/delete-post/{{post.id}}">
        <button class="delete-post" value="{{post.id}}">Delete</button>
    </form>


    {% endfor %}
</div>


{% endblock %}