{% extends 'activities/user.html' %}

{% block title %}Animals{% endblock %}

{% block content2 %}

<form id="load" action="">
    <label for="city">City</label>
    <input id="city" type="text" placeholder="Enter a City">
    <label for="state">State</label>
    <input id="state" type="text" placeholder="Enter a State">

    <button id="changeLocation" type="submit">Change Location</button>
</form>

{% for activity in activities %}
<div>
    {{activity.name}}
    {{activity.min_temp}}
    {{activity.max_temp}}
    {{activity.sun}}
    {{activity.show_moon}}
    {{activity.moon_phase}}
    {{activity.weather_condition}}
    {{activity.uvi}}
    <button class="search-day" id="{{activity.id}}">search for day</button>

    <div class="days" id="activity{{activity.id}}"></div>

</div>

{% endfor %}



{% endblock %}