{% extends 'home.html' %}



{% block content %}




<div class="relative bg-zinc-800 z-30 text-gray-200 py-4 flex shadow-sm shadow-black ">
    <img class="rounded-full border border-solid mx-3" src="{{user.image_url}}" alt="">
    <div class="flex flex-col justify-between w-full">
        <h3 class="text-3xl capitalize ">{{user.username}}</h3>
        <div class="flex gap-2 flex-wrap">
            <a class="text-gray-500 hover:underline hover:text-gray-300" href="/add-activity">Add an activity</a>
            <a class="text-gray-500 hover:underline hover:text-gray-300" id="searchActivity"
                href="/search-activity">Search an activity</a>
            <a class="text-gray-500 hover:underline hover:text-gray-300" href="/users/edit">Edit profile</a>
            <a class="text-gray-500 hover:underline hover:text-gray-300" href="/users/delete/sure">Delete profile</a>
        </div>
    </div>
</div>
<div id="flash-container-js"
    class=" hidden z-40 top-16 md:top-16 w-full text-center  text-2xl font-bold text-red-900 bg-black p-4">
    asdfasfsaf
</div>
{% block content2 %}{% endblock %}

{% endblock %}